tema02/02-03-04 - copia.html
tema03/texto.html
tema03/Python_AI_Entornos_La_Elección_Perfecta.pdf
tema04/Librerías ML.pdf
horario2.html
tema03/prueba.py
preguntas1y2.xml
tema04/ejercicios/database.sqlite
tema04/ejercicios/data/FashionMNIST/raw/t10k-images-idx3-ubyte
tema04/ejercicios/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
tema04/ejercicios/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
tema04/ejercicios/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
tema04/ejercicios/data/FashionMNIST/raw/train-images-idx3-ubyte
tema04/ejercicios/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
tema04/ejercicios/data/FashionMNIST/raw/train-labels-idx1-ubyte
tema04/ejercicios/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
tema04/ejercicios/data/MNIST/raw/t10k-images-idx3-ubyte
tema04/ejercicios/data/MNIST/raw/t10k-images-idx3-ubyte.gz
tema04/ejercicios/data/MNIST/raw/t10k-labels-idx1-ubyte
tema04/ejercicios/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
tema04/ejercicios/data/MNIST/raw/train-images-idx3-ubyte
tema04/ejercicios/data/MNIST/raw/train-images-idx3-ubyte.gz
tema04/ejercicios/data/MNIST/raw/train-labels-idx1-ubyte
tema04/ejercicios/data/MNIST/raw/train-labels-idx1-ubyte.gz
tema04/ejercicios/01-ejercicio-pandas.ipynb
tema04/ejercicios/02-ejercicio-matplotlib.ipynb
tema04/ejercicios/03-ejercicio-sklearn.ipynb
tema04/ejercicios/04-ejercicio-tensorflow.ipynb
tema04/ejercicios/05-ejercicio-pytorch.ipynb
tema04/ejercicios/dias_criticos.csv
tema04/ejercicios/Ejercicio-con-Pandas-Solución.ipynb
tema04/ejercicios/Ejercicio-con-Pandas.ipynb
tema04/ejercicios/Enunciados-Pandas.ipynb
tema04/ejercicios/hashes.txt
tema04/ejercicios/mejor_modelo_iris.joblib
tema04/ejercicios/mtcars.csv
tema04/ejercicios/owid-covid-data-old.csv
tema04/ejercicios/owid-covid-data.csv
tema04/ejercicios/pollution_us_2000_2016.csv
tema04/ejercicios/pytorch.ipynb
tema04/ejercicios/resumen_por_ciudad.csv
tema04/ejercicios/Reviews.csv
tema04/ejercicios/sol1.ipynb
tema04/ejercicios/sol2.ipynb
tema04/ejercicios/sol3.ipynb
tema04/ejercicios/sol4.ipynb
tema04/ejercicios/sol5.ipynb
tema04/ejercicios/solucion-ejercicio-pytorch.ipynb
tema04/ejercicios/solucion-ejercicio-sklearn.ipynb
tema04/ejercicios/solucion-ejercicio-tensorflow.ipynb
tema04/ejercicios/tensorflow-keras.ipynb
tema04/ejercicios/titanic_statistics.csv
tema04/ejercicios/winequality-red.csv
tema04/ejercicios/WorldCupMatches.csv
tema04/ejercicios/WorldCupPlayers.csv
tema04/ejercicios/WorldCups.csv
